version: "3.8"

services:
  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - ./data/redis:/data

  ethercalc:
    image: rophy/ethercalc:latest
    restart: always
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "127.0.0.1:8083:8000"
